{% if DISPLAY_RECENT_POSTS_ON_SIDEBAR %}
  {% from 'includes/sidebar/macros.jinja' import title %}
  {% if RECENT_POST_COUNT is not defined %}
    {% set RECENT_POST_COUNT = 5 %}
  {% endif %}

<div class="well well-sm accordion" id="sb_accordion_Recent_Posts">
  <div class="card">
    <div class="card-header" id="sb_Recent_Posts_Heading">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
	<i class="fa fa-book"></i> Click for Recent Posts
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse multi-collapse" aria-labelledby="sb_Recent_Posts_Heading" data-parent="#sb_accordion_Recent_Posts">
      <!-- <div class="card card-body"> -->
      <!-- <div class="well"> -->
      {% for article in articles[:RECENT_POST_COUNT] %}
         <p><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></p>
      {% endfor %}
      <!-- </div> -->
    </div>
  </div>
</div>

<!-- End Sidebar/Recent Posts -->
{% endif %}
