<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ SITEURL }}/{{ article.url }}"
  },
  "name": "{{ article.title|striptags }}",
  "headline": "{{ article.title|striptags }}",
  "datePublished": "{{ article.date.strftime("%Y-%m-%d") }}",
  {% if article.modified %}
  "dateModified": "{{ article.modified.strftime("%Y-%m-%d") }}",
  {% endif %}
  "author": {
    "@type": "Person",
    "name": "{{ article.author.name }}",
    "url": "{{ SITEURL }}/{{ article.author.url }}"
  },
  "url": "{{ SITEURL }}/{{ article.url }}",
  {% if article.tags %}
  "keywords": "{{ article.tags|join(',') }}",
  {% endif %}
  "description": "{{ article.summary|striptags }}",
  "image" : "{{ SITEURL }}/{{ SITE_LOGO }}",
  "publisher": {
    "@type": "Organization",
    "name": "{{ AUTHOR }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ SITEURL }}/{{ PUBLISHER_LOGO }}"
    }
  }
}
</script>
